  <%= form_for(@note, html: { class: "form-horizontal" }) do |f| %> 
    <div class="form-group">
      <%= f.label :title, class: "control-label col-sm-1",
            for: "note_title" %>
      <div class="col-sm-6">
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :content, class: "control-label col-sm-1",
            for: "note_content" %>
      <div class="col-sm-6">
        <%= f.text_area :content, class: "form-control content-edit",
              rows: "12" %>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :category_id, class: "control-label col-sm-1",
            for: "note_category_id" %>
      <div class="col-sm-3">
        <%= f.collection_select :category_id, Category.where(user: current_user),
            :id, :name, { prompt: "Uncategorized", selected: @note.category_id },
            { class: "form-control" } %> 
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-3 col-sm-offset-1">
        <%= f.text_field :new_category, class: "form-control" %>
      </div>
      <div class="col-sm-3">
        <%= f.submit "Add Category", class: "btn btn-primary" %>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-6">
        <% if @note.new_record? %>
          <%= f.submit "Create", class: "btn btn-primary btn-lg btn-space" %>
          <%= link_to "Cancel", notes_path, class: "btn btn-default btn-lg" %>
        <% else %>
          <%= f.submit "Update", class: "btn btn-primary btn-lg btn-space" %>
          <%= link_to "Cancel", @note, class: "btn btn-default btn-lg" %>
        <% end %>
      </div>
    </div>
  <% end %>
