<div class="container notes-main">
  <% unless @notes_empty %>
    <div class="search-forms">
      <%= search_form_for(@q, class: "form-inline") do |f| %>
        <div class="form-group">
          <%= f.label :title_or_content_cont, "Search: " %>
          <%= f.search_field :title_or_content_cont, class: "form-control" %>
        </div>
        
        <%= f.submit "Search", class: "btn btn-success" %>
      <% end %>
    </div>
    
    <% if @notes.any? %>
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th><%= sort_link(@q, :title) %></th>
            <th><%= sort_link(@q, :content) %></th>    
            <th><%= sort_link(@q, :category_name) %></th> 
          </tr>
        </thead>    
        <tbody>
          <% @notes.each do |note| %>
            <tr>
              <td><%= link_to note.title, note %></td>      
              <td><%= truncate(strip_tags(note.content),
                      length: 100) %>
              </td>
              <% if note.category.nil? %>
                <td>Uncategorized</td>
              <% else %>
                <td><%= note.category.name %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <h3>There are no notes that matches your search term.</h3>
      <p><%= link_to "Return", notes_path, class: "btn btn-primary" %></p>
    <% end %>
    
  <% else %>
    <h3>You haven't made any notes yet.
        Want to create one?</h3>
    <br>
    
    <%= link_to "Create New Note", new_note_path, class: "btn btn-success" %>
  <% end %>
  
</div> <!-- Container -->