<%= @page_title = @note.title %>

<div class="container notes-main">
  <div class="row">
    
    <div class="col-sm-7">
      <div class="panel panel-success">
        <div class="panel-heading">
          <div class="panel-title"><strong><%= @note.title %></strong></div>
        </div>
        <div class="panel-body">
          <p><%= @note.content.html_safe %></p>
        </div>
        <div class="panel-footer">
        <% if @note.category_id.nil? %>
          <p class="label label-primary">Uncategorized</p>
        <% else %>
          <p class="label label-primary"><%= @note.category.name %></p>
        <% end %>
      </div>
    </div>
  
    <div class="btn-actions">
      <%= link_to "Edit Note", edit_note_path(@note),
          class: "btn btn-success btn-space" %>
      <%= link_to "Delete Note", note_path(@note), method: :delete,
          data: { confirm: "Are you sure you want to delete this note?" },
          class: "btn btn-primary " %>
    </div>
  
    </div>
  </div>
</div>

